{% extends 'base.html' %}
{% block content %}
<div class='col-md-8 offset-md-2'>
    <form action="", method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class='border-bottom mr-6'>New Message</legend>
                <div class='form-group'>
                    {{ form.receiver.label(class='form-control-label') }}
    
                    {% if form.receiver.errors %}
                        {{ form.receiver(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.receiver.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.receiver(class='form-control') }}
                        <small class='text-muted'>Enter username to ping user.</small>
                    {% endif %}
                </div>
                <div class='form-group'>
                    {{ form.content.label(class='form-control-label') }}
    
                    {% if form.content.errors %}
                        {{ form.content(class='form-control is-invalid') }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class='form-control') }}
                    {% endif %}
                </div>
                {{ form.submit(class='mt-2 btn btn-outline-info') }}
        </fieldset>
    </form>
</div>
{% endblock content %}