html > body {
    background-image: url('../images/bodybg.jpg');
    font-size: 16px;
}

.dropdown-menu, .bg-light, #footer {
    background-image: url('../images/navbg.jpg');
    opacity: 0.8;
}

.navbar-light {
	font-family: monospace;
    font-size: 1.5em;
    color: #fff;
}

.navbar-light .navbar-toggler-icon {
    color: #fff;
    background-image: url("../images/chevron-down.svg");
}

.nav-item, .dropdown-item {
    border-radius: 1rem;
    color: #fff;
    font-size: 1em;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
    font-size: 1em;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255, .9);
    font-size: 1em;
}

.navbar-light .navbar-brand {
    color: rgba(255, 0, 255);
}

.navbar-light .navbar-brand:hover {
    color: rgba(255, 255, 255);
}

.navbar-toggler {
    padding: 0;
}

.dropdown-toggle {
    max-width: 200px;
    overflow: hidden;
    background-color: rgb(250, 235, 215);
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

.message {
    margin: 1rem auto;
    padding: 0.2rem 1rem;
    background-color: #fff;
    border-radius: 20px;
}

#content {
    font-size: 1em;
}

#info {
    font-size: 0.9em;
    font-style: italic;
}
    .sender {
        text-align: right;
    }

[id^="more"], [id^="showLess"] {
    display: none;
}

[id^="showMore"], [id^="showLess"] {
    font-size: 0.9em;
    font-style: italic;
    color: rgb(23, 155, 243);
}

.profile {
    margin: 0.5rem auto 3rem auto;
    border: 0.2rem solid rgb(51, 79, 90);
    border-radius: 1rem;
    padding: 0.2rem 1rem;
    color: #000;
    background-color: rgb(67, 155, 182);
}
    .profile-name {
        font-size: 2em;
        color: black;
    }

.custom-select {
    color: #17a2b8;
    border-color: #17a2b8
}

.custom-select:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.custom-select.focus,
.custom-select:focus {
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.user-link:hover {
    text-decoration: none;
}

.icon {
    height: 1em;
}

form {
    background: #dddddd;
    padding: 1em;
    margin: 1em;
    border-radius: 20px;
}

    .delete_message_form {
        padding: 0;
        margin: 0;
        padding-bottom: 0;
        margin-bottom: 2px;
        margin-right: 0;
    }

    .filter_form {
        width: 150px;
        margin: 0;
        padding: 0;
        margin-left: auto;
        margin-top: 15px;
        background-color: none;
    }

.footer-margin {
    margin: 100px;
}

a {
    margin-left: 3px;
}


.form-message-content {
    min-height: 10em;
}
.form-check {
    padding-left: 0;
}